body {
    text-align: center;
}

#buttons {
    margin: 2em;
}

.grid-container {
    margin: auto;
    width: 500px;
    height: 500px;
    outline: 1px solid black;
}

.box {
    display: inline-block;
    vertical-align: top;
    height: ;
    width: ;
}